.top10 {

    width: 50%;
    padding: 20px;
}
.top10Img {

    width:40%;
    opacity: 0.8;
    
}
.thisWeeks{

    color:orangered;
    text-align: center;
}
.HowSubmitted {

    color:green;
    text-align: center;
}
.today {
    text-align: center;  
    color:green;

}
.cardContainer {

    text-align: center;
    padding:7px;
    display: flex;
    display: contents;
    
    }
    
@media screen and (max-width: 940px)
    {
        .cardContainer {
            display:inline-block ;
            width: 100%;
        }
   
    .top10 {
        width:100%
    }
}
